{% extends "layout.html" %}

{% block head %}
    <title>ToDo List</title>
{% endblock%}

{% block body%}
<div class="navbar-fixed waves-effect">
    <nav>
      <div class="nav-wrapper white">
        <a href="/" class="brand-logo center black-text">Todo List</a>
        <ul class="right hide-on-med-and-down">
          <li><a class="waves-effect waves-light btn black white-text" href="/logout.html">Logout</a></li>
        </ul>
      </div>
    </nav>
  </div>

  <!--Input text-->
        <div class="row center">
              <div class="card col s4 offset-s4">
                <div class="card-content">
                    <img src="https://img.freepik.com/free-vector/people-holding-creative-ideas-icons_53876-59890.jpg?size=626&ext=jpg" style="width:60%;height:60%;">
                    <form action="/appcontent.html" method="post">
                        <div class="input-field col s12">
                            <input id="last_name" type="text" class="validate" name="name">
                            <label for="last_name">Task</label>
                          </div>
                        <button class="btn-floating btn-large waves-effect waves-light black" type="submit" name="submit" value="add">
                            <i class="material-icons right">send</i>
                        </button>
                    </form>
                </div>
            </div>
          </div>
    <div class="row">
    <div class="col s6 offset-s3">
            <ul class="collection with-header">
                <li class="collection-header center"><h4>Complete to free</h4>
                    <form  method="post">
                        <button class="btn-floating btn-small waves-effect waves-light black" type="submit" name="submit" value="delete">
                            <i class="material-icons right">close</i>
                        </button>
                    </form>
                </li>
                {% for l in t %}
                <li class="collection-item"><div class="center" >{{l}}</div></li>
                {% endfor %}
              </ul>
    </div>
  </div>
{% endblock%}


